<div class="container">
    <h1 class="jumbotron text-center" style="background-color:#c6f5ef; padding-top: 20px;padding-bottom: 20px">Student Quiz</h1>
  <div class="row">
  <div class="col-sm-4">
  <div class="thumbnail" style="background-color:#07fafa">
     <div class="thumbnail" style="margin:10%">
     <div style="padding-top:30px"><h2 class="jumbotron text-center">Quiz-1</h2></div>
     </div>
     <div class="text-center" style="padding-bottom:30px">
       <button type="button" routerLink="/quiz1" class="btn btn-primary">Start</button>
     </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail" style="background-color:#4cfc80">
       <div class="thumbnail" style="margin:10%">
       <div style="padding-top:30px"><h2 class="jumbotron text-center">Quiz-2</h2></div>
       </div>
       <div class="text-center" style="padding-bottom:30px">
         <button type="button" routerLink="/quiz2" class="btn btn-primary">Start</button>
       </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="background-color:#fa59bc">
         <div class="thumbnail" style="margin:10%">
         <div style="padding-top:30px"><h2 class="jumbotron text-center">Quiz-3</h2></div>
         </div>
         <div class="text-center" style="padding-bottom:30px">
           <button type="button" routerLink="/quiz3" class="btn btn-primary">Start</button>
         </div>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail" style="background-color:#f58d50">
         <div class="thumbnail" style="margin:10%">
         <div style="padding-top:30px"><h2 class="jumbotron text-center">Quiz-4</h2></div>
         </div>
         <div class="text-center" style="padding-bottom:30px">
           <button type="button" routerLink="/quiz4" class="btn btn-primary">Start</button>
         </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail" style="background-color:#fc2424">
           <div class="thumbnail" style="margin:10%">
           <div style="padding-top:30px"><h2 class="jumbotron text-center">Quiz-5</h2></div>
           </div>
           <div class="text-center" style="padding-bottom:30px">
             <button type="button" routerLink="/quiz5" class="btn btn-primary">Start</button>
           </div>
        </div>
        </div>
  </div>
  </div>
  
  